<h1>Friend</h1>
<div><h4>My Friends List</h4></div>
<table>
    <tr>
        <th>First-name</th>
        <th>Last-name</th>
        <th>Nick-name</th>
        <th>GitHub Pages</th>
    </tr>
    <tr>
        <td>Chongkhom</td>
        <td>Rachwangmueang</td>
        <td>Pranai</td>
        <td>
            <a href="">Lab02</a>
            <a href="">Lab03</a>
            <a href="">Lab04</a>
        </td>
    </tr>
    <tr>
        <td>Wutthichai</td>
        <td>Homnsns</td>
        <td>Tonyong</td>
        <td>
            <a routerLink="" routerLinkActive="st-active">Lab02</a>
            <a routerLink="" routerLinkActive="st-active">Lab03</a>
            <a routerLink="" routerLinkActive="st-active">Lab04</a>
        </td>
    </tr>
</table>