<h1>Status</h1>
<table>
    <tr>
        <td><b>Current Time</b></td>
        <td>::</td>
        <td>{{ CurrentTime }}</td>
    </tr>
    <tr>
        <td><b>User Agent</b></td>
        <td>::</td>
        <td>{{ UserAgent}}</td>
    </tr>
    <tr>
        <td><b>Languages</b></td>
        <td>::</td>
        <td>{{ Languages}}</td>
    </tr>
    <tr>
        <td><b>Is Cookie Enagled</b></td>
        <td>::</td>
        <td>{{ Cookie }}</td>
    </tr>
    <tr>
        <td><b>Logical Processors</b></td>
        <td>::</td>
        <td>{{ LogicalProcessors }}</td>
    </tr>
    <tr>
        <td><b>Max Touch Points</b></td>
        <td>::</td>
        <td>{{ MaxTouchPoints }}</td>
    </tr>
</table>
