
a {
    color: blue;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 4px;
    margin: 5px;
    align-items: center;
    }

    a.st-active {
    background-color: beige;
    }
h1 {
    text-align: center;
}