<h1>My Profile</h1>
<body>

<h2>Basic Information</h2>
<ul>
    <li><strong>Name :</strong> Kannaporn Chaowalertsopar</li>
    <li><strong>Gender :</strong> Female</li>
    <li><strong>Age :</strong> 20</li>
</ul>
<h2>Autobiography</h2>
<p>My birthday is 25th April,2002.I live in Chiang Mai,Thailand, and I go to university at Chiang Mai University.<br>I study at college of media art and technology.</p>
<h2>GitHub Page</h2>
<nav class = "links">
    <a href ="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-Kannaporn/">Lab02</a>
    <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-Kannaporn/">Lab03</a>
    <a href="">Lab04</a>
</nav>
</body>