body {
    text-align: left;
    margin-left: 500px;
}
a {
    color: blue;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 8px;
    margin: 5px;
    }
    a.st-active {
    background-color: silver;
    }